<li><strong>
{% if label.indexing %}
<a href="{{ url_for('client.labels', k=label.key) }}">
{% endif %}
{{ label.key }}{% if label.indexing %}</a>{% endif %}: </strong>
{% if label.indexing %}
<a href="{{ url_for('client.labels', k=label.key, v=label.value) }}">

{% endif %}
{{ label.value }}
{% if label.indexing %}
</a>
{% endif %}
<button onclick="toggle('edit-label-{{ label.id }}')">edit</button>
<div id="edit-label-{{label.id }}" style="display: none">
<form action="{{ url_for('client.edit_label', label_id=label.id) }}" method="post">
    <input type="text" name="key" value="{{ label.key }}" />
    <input type="text" name="value" value="{{ label.value }}" />
    <input type="submit" />
</form>
<a href="{{ url_for('client.edit_label_key_value', k=label.key, v=label.value) }}">Edit all matching</a> |
<a href="{{ url_for('client.search_label_key_value', k=label.key, q=label.value) }}">Search similar</a>
<hr>
<form action="{{ url_for('client.delete_label', label_id=label.id) }}" method="post">
    <button type="submit">DELETE</button>
</form>
<hr>
</div>
</li>
