{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
    <div id="song-list-container"></div>

    <script type="text/x-template" id='fe-template-song-list'>
        <div class="elements-list"></div>
    </script>

    <script type="text/x-template" id='fe-template-song-element'>
        <a href="/listen/<%- data.id %>"><p><%- data.title %></p></a>
    </script>

{% endblock %}

{% block script %}
    {{ macros.include_js('index') }}
    <script>
        new AppListView({
            el: '#song-list-container',
            collection: COLLECTIONS['song'],
            collectionName: 'song',
            options: {},
            name: 'song',
            type: 'list',
            ElementViewClass: AppElementView
        });
    </script>
{% endblock %}