{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
    <a href="{{ url_for('client.all_songs') }}"><h2>All songs</h2></a>
    <div id="label-list-container"></div>

    <script type="text/x-template" id='fe-template-label-list'>
        <div class="elements-list"></div>
    </script>

    <script type="text/x-template" id='fe-template-label-element'>
        <a href="/labels?k=<%- data.key %>"><p><%- data.key %></p></a>
    </script>

{% endblock %}

{% block script %}
    {{ macros.include_js('index') }}
    <script>
        new AppListView({
            el: '#label-list-container',
            collection: COLLECTIONS['label'],
            collectionName: 'label',
            options: {},
            name: 'label',
            type: 'list',
            ElementViewClass: AppElementView
        });
    </script>
{% endblock %}
