{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
    <h2>Labels:</h2>

    <form action="{{ url_for('client.edit_label_key_value') }}" method="get">
        <input type="text" name="k" value="{{ k }}"/>
        <input type="text" name="v" value="{{ v }}"/>
        <button type=submit>Search exact</button>
    </form>

    <a href="{{ url_for('client.search_label_key_value', k=k, q=v) }}">Search approx.</a>

    <hr>

    <form action="{{ url_for('client.edit_label_key_value') }}" method="post">
        <input type="text" name="k" value="{{ k }}" disabled/>
        <input type="text" name="v" value="{{ v }}" disabled/>
        <input type="text" name="nv" value="" placeholder="new value"/>
        <button type=submit>Edit</button>
    </form>
    {% if label_results %}
        {% for label_name, meta in label_results.items() %}
            <li><input type="checkbox" checked="checked"><a
                    href="{{ url_for('client.labels', k=meta.key, v=meta.value) }}">{{ label_name }}: {{ meta.count }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block script %}
    {{ macros.include_js('index') }}
{% endblock %}
