{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
    <h2>{{ song.title }}</h2>
    <a href="{{ url_for('client.get_metronome', song_id=song.id) }}"><h3>Metronome</h3></a>
    <br>
    <p><button onclick="toggle('edit-song')" class="btn btn-default">edit</button></p>

    <div id="edit-song" style="display: none">
        <form action="{{ url_for('client.edit_song', song_id=song.id) }}" method="post">
            <input type="text" name="title" value="{{ song.title }}" style="width: 100%;"/><br>
            <input type="text" name="indexing_title"
                   value="{% if song.indexing_title %}{{ song.indexing_title }}{% endif %}" style="width: 100%;"/><br>
            <input name="default_start" type="number" value="{{ media_st }}" min="0" max="{{ media_length }}"
                   style="font-size: 1.5em;">
            <input name="default_end" type="number" value="{{ media_et }}" min="0" max="{{ media_length }}"
                   style="font-size: 1.5em;">
            <input type="submit"/>
        </form>
        <hr>
        <a href="{{ url_for('client.last_fm_search', song_id=song.id, q=song.title) }}">Search on Last fm</a>
        <hr>
        <a href="{{ url_for('client.delete_song', song_id=song.id) }}" style="color:red; float: right;">DELETE</a><br>
        <hr style="clear:both;">
    </div>
    <br>

    <p><button id="audio-btn-from-start" class="btn btn-default">From start</button>
    <input id="audio-start" type="number" value="{{ media_st }}" min="0" max="{{ media_length }}"
           style="font-size: 2em;">
    <input id="audio-end" type="number" value="{{ media_et }}" min="0" max="{{ media_length }}" style="font-size: 2em;">
    <button id="audio-btn-til-end" class="btn btn-default">Till end</button>
    <input type="checkbox" id="should-loop" {% if request.args.get('loop') %}checked="checked"{% endif %}> Loop
    </p>
    <br>

    <audio controls autoplay preload="auto" style="width: 100%" id='audio'>
        <source src="{{ url_for('client.get_media', filepath=media_fname) }}" type="audio/mpeg">
    </audio>

    <div id="label-container"></div>


    <script type="text/x-template" id='fe-template-label-list'>
        <button class="btn btn-success action-new" data-model-name="label" data-toggle="modal"
                data-target="#worldwide-modal">New label
        </button>
        <div class="elements-list"></div>
    </script>

    <script type="text/x-template" id='fe-template-label-element'>
        <div class="element-card element-card-list element-card-fixed-width">
            <button class="btn btn-lg pull-right dropdown-toggle highlightable"
                    data-toggle="dropdown" style="background-color: initial;">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item action-edit" data-model-name="label" href="#">Edit</a>
                <a class="dropdown-item action-delete" href="#">Delete</a>
            </div>
            <p>
                <strong><%- data.key %>:</strong> <%- data.value %>
            </p>
        </div>
    </script>

    <script type="text/x-template" id='fe-template-edit-label'>
        <div class="row">
            <div class="col-12">
                <div class="form-group input-full-width">
                    <div class="editable-key"><%= data.key %></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group input-full-width">
                    <div class="editable-value"><%= data.value %></div>
                </div>
            </div>
        </div>
    </script>

    <h3>Non-indexing labels</h3>
    <ul>
        {% for label in song.non_indexed_labels %}
            {% include "_tpl_label.html" %}
        {% endfor %}
    </ul>

    Add label:
    <form action="{{ url_for('client.add_label_to_song', song_id=song.id) }}" method="post">
        <input type="text" name="key"/>
        <input type="text" name="value"/>
        <input type="checkbox" name="indexing" checked=checked/> indexing?
        <input type="submit"/>
    </form>

    {% if song_duplicates %}
        <h2>Duplicates</h2>
        <ul>
            {% for other_song in song_duplicates %}
                <li><a href="{{ url_for('client.listen', song_id=other_song.id) }}">{{ other_song.title }}</a> |
                    [<a href="{{ url_for('client.delete_song', song_id=other_song.id) }}">delete</a>]
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Recommendations</h2>
    <ul>
        {% for other_song in song_recomendations %}
            <li><a href="{{ url_for('client.listen', song_id=other_song.song_id) }}"
                   id="recommendation-idx-{{ loop.index }}">{{ other_song.title }}</a><br>
                <small>score: {{ other_song.score }} | last_played: {{ other_song.last_played }} | reasons:
                    {% for reason, score in other_song.reasons.items() %}{{ reason }}:
                        {{ score }}{% if not loop.last %}, {% endif %}{% endfor %}</small>
            </li>
        {% endfor %}
    </ul>


{% endblock %}

{% block script %}
    {{ macros.include_js('listen') }}
    <script>
        new AppListView({
            el: '#label-container',
            collection: COLLECTIONS['label'],
            collectionName: 'label',
            options: {},
            name: 'label',
            type: 'list',
            ElementViewClass: AppElementView,
            overrideUrl: "/api/labels?song_id={{ song.id }}",
            filterCollection: function() {
                return this.collection.where({"indexing": true});
            }
        });
    </script>
{% endblock %}
