{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{{ macros.include_css('index') }}

<style>
    .metronome {
        background: #CCC;
        width: 30px;
        height: 30px;
        border-radius: 60px;
        display: inline-block;
    }

    .metronome.flash-red {
        background: #900;
        box-shadow: 0 0 15px #900;
    }

    .metronome.flash-blue {
        background: #009;
        box-shadow: 0 0 15px #009;
    }

    @keyframes flashing {
        from {
            background: #900;
        }
        to {
            background: #CCC;
        }
    }
</style>
{% endblock %}

{% block content %}
<a href="{{ url_for('client.listen', song_id=song.id) }}"><h2>{{ song.title }}</h2></a>
<div class="metronome" id="metronome-left"></div>
<div class="metronome flash-blue" id="metronome-right"></div>

<label>BPM</label>
<input type="text" id="bpm" value="{{ bpm_round }}"/>


<button type="button" id="start">Start</button>
<button type="button" id="stop">Stop</button>


<audio controls autoplay preload="auto" style="width: 100%" id='audio'>
    <source src="{{ url_for('client.get_media', filepath=song.filename) }}" type="audio/mpeg">
</audio>

<button id="decrease-bpm">-</button>
<input type="range" id="playback-speed" min="0.25" max="5.0" step="0.05" value="1.0">
<span id="playback-speed-value">1.0</span>
<button id="increase-bpm">+</button>
<p>Pace: <span id="pace-value"></span></p>
{% endblock %}

{% block script %}
<script>
    var Start = function () {
        var BPM = parseInt($("#bpm").val(), 10);
        var BPM_ms = 1000 / (BPM / 60);

        if (window._INTERVAL) {
            Stop();
        }

        $("#start").attr("disabled", true);

        window._INTERVAL = setInterval(function () {
            $("#metronome-left").toggleClass("flash-red");
            $("#metronome-right").toggleClass("flash-blue");
        }, BPM_ms);
    };

    var Stop = function () {
        clearInterval(window._INTERVAL);

        $("#start").removeAttr("disabled");
        $("#metronome").removeClass("flash");
    };

    $("#start").click(Start);
    $("#stop").click(Stop);
    Start();

    //////////////////////////
    var initial_bpm = $("#bpm").val();
    $("#pace-value").html((initial_bpm - 60) / 10);
    $("#decrease-bpm").on("click", function () {
        var newValue = parseFloat($("#playback-speed").val()) - 0.05;
        $("#playback-speed-value").html(newValue);
        $("#playback-speed").val(newValue).trigger("change");
    });
    $("#increase-bpm").on("click", function () {
        var newValue = parseFloat($("#playback-speed").val()) + 0.05;
        //debugger
        $("#playback-speed-value").html(newValue);
        $("#playback-speed").val(newValue).trigger("change");
    });
    $("#playback-speed").on("change", function () {
        $("#playback-speed-value").html(this.value);
        Stop();
        var current_bpm = initial_bpm * this.value;
        $("#bpm").val(current_bpm);
        $("#pace-value").html((current_bpm - 60) / 10);
        Start();
        document.getElementById("audio").playbackRate = this.value
    });
</script>

{% endblock %}