<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
     style="background-color: #333; color: white; box-shadow: 0 1px 5px grey;">
    <a class="navbar-brand side-nav-toggle" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <a class="navbar-brand" href="/">Music</a>
    <div class="navbar-expand">
        {%- if current_user.is_authenticated and project_settings.search_enabled %}
            <form class="form-inline" action="{{ url_for('client.search') }}">
                <div class="nav-search-wrapper">
                    <i class="fa fa-search fa-lg" style="z-index:1"></i>
                    <input class="form-control nav-search" type="search" placeholder="Search"
                           style="background-color: #333;"
                           aria-label="Search"
                           name="q" value="{{ q }}">
                </div>
            </form>
        {% endif %}
    </div>
    <div class="navbar-expand ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {%- if current_user.is_authenticated %}
                {% if project_settings.search_enabled %}
                    <li class="nav-item dropdown" id="navbar-search">
                        <a class="nav-link d-xs-block d-sm-none" href="#" id="navbar-search-link" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-search fa-lg"></i>
                        </a>
                    </li>
                {% endif %}
                {% if project_settings.notifications_enabled %}
                    <li class="nav-item dropdown" id="navbar-dropdown-bell">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-bell-link" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell fa-lg"></i>
                            <span class="badge badge-danger notifications-count" style="display: none;">0</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right notifications-container"
                             aria-labelledby="navbarDropdownBell" style="width:400px;">
                            <a class="dropdown-item" href="#">No notifications</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown" id="navbar-dropdown-profile">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-profile-link" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="{{ user.email|gravatar }}" class="rounded-circle"
                             style="height: 32px;"/> {{ user.name }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </li>
            {% else %}
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-success">Register</a>
            {% endif %}
        </ul>
    </div>
</nav>