<div class="col-2 d-none d-xs-none d-sm-none d-md-block" style="padding:0; top: 5px">
    <ul class="side-nav nav flex-column nav-pills">
        {% for uv in user_views %}
            {% if uv.on_main %}
                <li class="nav-item">
                    <a href="/views/{{ uv.id }}"
                       class="nav-link side-nav-link {% if user_view and user_view.name ==  uv.name %}active{% endif %}">
                                <span style="display: inline-block; width: 40px"><i
                                        class="fa fa-{{ uv.icon }} fa-lg"></i></span>
                        {{ uv.name|capitalize }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>