{% extends "layout_main.html" %}
{% import "_macros.html" as macros %}

{% block style %}
    {{ macros.include_css('index') }}
{% endblock %}

{% block content %}
    <div id="song-list-container"></div>

    <script type="text/x-template" id='fe-template-song-list'>
        <button class="btn btn-success action-new" data-model-name="song" data-toggle="modal"
                data-target="#worldwide-modal">New Song
        </button>
        <div class="elements-list"></div>
    </script>

    <script type="text/x-template" id='fe-template-song-element'>
        <div class="element-card element-card-list element-card-fixed-width">
            <button class="btn btn-lg pull-right dropdown-toggle highlightable"
                    data-toggle="dropdown" style="background-color: initial;">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item action-edit" data-model-name="song" href="#">Edit</a>
                <a class="dropdown-item action-delete" href="#">Delete</a>
            </div>
            <p class="lead">
                <%- data.title %>
            </p>
            <p>
                <%- data.duration %>
            </p>
        </div>
    </script>

    <script type="text/x-template" id='fe-template-edit-song'>
        <div class="row">
            <div class="col-12">
                <div class="form-group input-full-width">
                    <div class="editable-title"><%= data.title %></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group input-full-width">
                    <div class="editable-duration"><%= data.duration %></div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block script %}
    {{ macros.include_js('index') }}
    <script>
        new AppListView({
            el: '#song-list-container',
            collection: COLLECTIONS['song'],
            collectionName: 'song',
            options: {},
            name: 'song',
            type: 'list',
            ElementViewClass: AppElementView
        });
    </script>
{% endblock %}
